# CURRENCY SYMBOL
NEXT_PUBLIC_CURRENCY_SYMBOL = '$'

ADMIN_EMAIL=add-admin-email

# CLERK
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk_publishable_key
CLERK_SECRET_KEY=clerk_secret_key

# NEON DB
DATABASE_URL=database-connection-string
# Direct connection for Prisma CLI
DIRECT_URL=direct-connection-string

# INNGEST
INNGEST_EVENT_KEY=add-event-key
INNGEST_SIGNING_KEY=add-signing-key

# IMAGEKIT
IMAGEKIT_PUBLIC_KEY=imagekit-public-key
IMAGEKIT_PRIVATE_KEY=imagekit-private-key
IMAGEKIT_URL_ENDPOINT=imagekit-url-endpoint

# STRIPE
STRIPE_SECRET_KEY=stripe-secret-key
STRIPE_WEBHOOK_SECRET=stripe-webhook-secret